body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

#search-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-input {
  padding: 15px;
  font-size: 18px;
  flex: 1;
  max-width: 500px;
  border: none;
  background-color: #333;
  color: #fff;
}

#search-button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #e50914;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search-button:hover {
  background-color: #d30c11;
}

#results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.movie-card {
  position: relative;
  margin: 20px;
  padding: 20px;
  width: 200px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.movie-card h3,
.movie-card p {
  position: relative;
  z-index: 1;
  color: #333;
}

.movie-card p {
  margin-top: 5px;
  font-size: 14px;
  color: #aaa;
}

.view-details-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-details-button:hover {
  background-color: #d30c11;
}

#movie-details {
  display: none;
  margin-top: 20px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.close-button:hover {
  color: #e50914;
}

.modal-content {
  text-align: center;
}

.modal-content h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.modal-content p {
  margin-top: 10px;
  color: #333;
}

.view-details-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-details-button:hover {
  background-color: #d30c11;
}


/* Responsive Styles */

@media screen and (max-width: 768px) {
  #search-container {
    flex-direction: column;
  }

  #search-input {
    max-width: 100%;
  }

  #search-button {
    margin-top: 10px;
    padding: 10px 20px;
  }

  .movie-card {
    width: calc(33.33% - 40px);
  }

  .modal {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .movie-card {
    width: calc(50% - 40px);
  }
}
